# US - Baby Names

## Introduction:

We are going to use a subset of [US Baby Names from](https://www.kaggle.com/kaggle/us-baby-names) Kaggle.

In the file it will be names from 2004 until 2014

In [53]:
# Import the necessary libraries
from optimus import Optimus
from pyspark.sql.functions import *
import pandas as pd
import numpy as np
op = Optimus()

# Import the dataset and assing baby_names

In [54]:
baby_names_pd = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

In [55]:
baby_names = op.spark.createDataFrame(baby_names_pd)

In [56]:
baby_names.describe().table()

# See the first 10 entries

In [57]:
baby_names.table(10)

# Delete the column 'Unnamed: 0' and 'Id'

In [58]:
baby_names = baby_names.drop("Unnamed: 0", "Id")

In [59]:
baby_names.table(5)

KeyboardInterrupt:

#  Are there more male or female names in the dataset?

In [33]:
baby_names.groupby("Gender").count().orderBy("count").table()

# Group the dataset by name and assign to names

In [34]:
baby_names = baby_names.drop("Year")

In [43]:
names = baby_names.groupby("Name").sum().cols.rename("sum(Count)","count")

In [44]:
names.table(5)

In [42]:
print(f'Columns: {op.profiler.dataset_info(names)["cols_count"]}', 
      f'Rows: {op.profiler.dataset_info(names)["rows_count"]}')

Columns: 2 Rows: 17632

In [49]:
names.sort(desc("count")).table(10)

# How many different names exist in the dataset?

In [50]:
names.count()

17632

# What is the name with most occurrences?

In [62]:
names.sort(desc("count")).select("Name").table(1)

# How many different names have the least occurrences?

In [86]:
min_oc = names.cols.min("count") # This will give you the min ocurrence for names
names.where(col("count") == min_oc).count()

2578

# What is the median name occurrence?

In [99]:
median_oc = names.approxQuantile("count", [0.5], relativeError=0)[0] # This will give you the median ocurrence for names
median_oc

49.0

# What is the standard deviation of names?

In [100]:
names.cols.std("count")

11006.06947

# Get a summary with the mean, min, max, std and quartiles.

In [111]:
names.select("count").describe().table()

In [117]:
names.approxQuantile("count",[0.25,0.5,0.75], relativeError=0)

[11.0, 49.0, 337.0]